/* DeathRayGames Branding */
footer {
	padding-right: 5em;
	background-repeat: no-repeat, no-repeat;
	background-position: 95% center, 85% center;
	background-size: 64px 64px, 64px 64px;
	background-image: url('../images/deathray_icon_64x64.png'), url('../images/boots1_flat_300.png');
}
/* Tavern King branding */
header {
	background-image: none;
	font-family: 'UnifrakturCook';
	text-align: center;
}
/* Styles */
body {
	background: #221113;
}
h2 {
	font-family: 'UnifrakturCook';
}
body > .game {
	padding: 0;
	background-color: inherit;
}
#game-topbar, .topbar {
	color: white;
	padding: 1.5em 0;
	background: inherit;
}
#game-topbar > span {
	display: inline-block;
	margin: 0 2em;
}
.selectedMenu {
	background: #332244;
	color: white;
	border: solid 0.25em white;
	margin: 5% auto 0 auto;
	border-radius: 1em;
	box-shadow: 0 1em 2em black, 0 0 0.5em black;
}
	.selectedMenu button {
		background: rgba(255,255,255,0.1);
		color: white;
		font-size: 100%;
		font-family: 'Press Start 2P';
	}
	.customerMenu {
		background: #223344;
	}
	.craftMenu {
		background: #443322;
	}

.remodel {
	position: absolute;
	top: 0;
	right: 0;
}
	.remodel h2 {
		display: inline-block;
	}
	.remodel button {
		display: inline-block;
	}
